_format_version: "3.0"
services:
  - name: identity-service
    url: http://identity-service:8080/api/v1
    routes:
      - name: identity-users
        paths:
          - /users
        strip_path: false
    plugins:
      - name: correlation-id
        config:
          header_name: X-Request-ID
          generator: uuid
          echo_downstream: true
      - name: cors
        config:
          origins:
            - "*"
          methods:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
            - OPTIONS
          headers:
            - Accept
            - Accept-Version
            - Content-Length
            - Content-MD5
            - Content-Type
            - Date
            - X-Auth-Token
          exposed_headers:
            - X-Auth-Token
          credentials: true
          max_age: 3600
      - name: rate-limiting
        config:
          minute: 60
          policy: local

  - name: identity-tokens-service
    url: http://identity-service:8080/api/v1/users/validate
    routes:
      - name: identity-tokens
        paths:
          - /tokens/validate
        strip_path: true
    plugins:
      - name: correlation-id
        config:
          header_name: X-Request-ID
          generator: uuid
          echo_downstream: true
      - name: cors
        config:
          origins:
            - "*"
      - name: rate-limiting
        config:
          minute: 60
          policy: local
