--index-url https://download.pytorch.org/whl/cu121
fastapi
uvicorn
sqlmodel
asyncpg
redis
python-dotenv
pandas
tree-sitter
tree-sitter-java
pyarrow
rapidfuzz
scikit-learn
joblib
torch
torchvision 
torchaudio 
transformers
accelerate
datasets
