fastapi
uvicorn
sqlmodel
asyncpg
redis
python-dotenv
pandas
tree-sitter
tree-sitter-java
pyarrow
rapidfuzz
scikit-learn
joblib
transformers
accelerate
datasets
matplotlib
seaborn
tqdm
ipykernel
jupyterlab

# PyTorch with CUDA 12.1 support
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
