@import "tailwindcss/preflight";
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradeloop-light text-gradeloop-text-dark;
  }

  .dark body {
    @apply bg-gradeloop-dark text-gradeloop-light;
  }
}
