name: "Lint Code"

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  lint-code:
    name: Lint - ${{ matrix.linter.name }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          # --- Add an entry for each service you want to lint ---
          - linter:
              name: "Go Template"
              path: "apps/go-template" # UPDATE THIS PATH
              language: "go"
              version: "1.24"
          - linter:
              name: "FastApi Template"
              path: "apps/fastapi-template" # UPDATE THIS PATH
              language: "python"
              version: "3.13"
          - linter:
              name: "Frontend"
              path: "apps/client" # UPDATE THIS PATH
              language: "node"
              version: "22.x"

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      # Linter for Go services
      - name: Run golangci-lint
        if: matrix.linter.language == 'go'
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.64.8 # Or the version you prefer
          working-directory: ${{ matrix.linter.path }}
          args: --disable asciicheck

      # Linter for Python services
      - name: Run Flake8
        if: matrix.linter.language == 'python'
        run: |
          pip install flake8
          flake8 .
        working-directory: ${{ matrix.linter.path }}

      # Linter for Node.js/TypeScript services
      - name: Run ESLint
        if: matrix.linter.language == 'node'
        run: |
          corepack enable
          pnpm install
          pnpm lint
        working-directory: ${{ matrix.linter.path }}
