name: "Secret Scan (Gitleaks)"

on:
  push:
    # branches: [main]
  pull_request:
    # branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  gitleaks-scan:
    name: Gitleaks Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
        with:
          # Fetches all history so Gitleaks can scan the entire repository's history
          fetch-depth: 0

      - name: Run Gitleaks Scan
        uses: gitleaks/gitleaks-action@v2
        env:
          # This will cause the Action to fail if any leaks are found
          GITLEAKS_ENABLE_EXIT_ON_FAIL: "true"
